/*/---- Font ----/*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*/ ---- Mixins starts ----/*/
@mixin transition {
    transition: all 0.3s ease-in;
}
/*/ ---- Mixins ends ----/*/

/*/---- General begins ----/*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    position: relative;
}
.uppercase {
    text-transform: uppercase;
}
.sect {
    width: 85%;
    margin: 5rem auto;
    &-heading {
        text-align: center;
        margin-bottom: 5rem;
        h2 {
            &::after {
                content: "";
                display: block;
                height: 15px;
                width: 15px;
                margin: 10px auto 0 auto;
                background-color: $accent-color;
                border-radius: 50%;
            }
        }
        p {
            margin-top: 30px;
            line-height: 22px;

        }
    }
}
/*/---- General ends ----/*/




/*/---- Heading begins ----/*/
h1 {
    font-size: $h1-font;
    font-weight: 300;
    @media only screen and (max-width: 745px) {
        font-size: $h1-font - 15;
    }
}
h2 {
    font-size: $h2-font;
    font-weight: 400;
    @media only screen and (max-width: 450px) {
        font-size: $h2-font - 5;
    }
}
h3 {
    font-size: $h3-font;
    font-weight: 400;
    @media only screen and (max-width: 450px) {
        font-size: $h3-font - 5;
    }
}
h4 {
    font-size: $h4-font;
    font-weight: normal;
}
h5 {
    font-size: $h5-font;
    font-weight: 400;
}
h6 {
    font-size: $h6-font;
    font-weight: 500;
    // @media only screen and (max-width: 745px) {
    //     font-size: $h6-font - 2;
    // }
}
/*/---- Heading ends ----/*/

/*/---- Buttons begins ----/*/
.btn {
    display: inline-block;
    border-radius: $border-radius - 4;
    padding: 0.625rem 1.25rem; // i removed !important
    text-align: center;
    @include transition;
    // btn with the primary-color
    &.prim-btn {
        background-color: $primary-color;
        color: $white-color;
        &:hover {
            background-color: $primary-color + 18.63%;
        }
    }
    &.sec1-btn {
        border: 1px solid $dark-color1;
        color: $dark-color1;
        &:hover {
            background-color: rgba(23, 15, 70, 0.075);
        }
    }
    &.sec2-btn {
        background-color: $dark-color1;
        color: $white-color;
        &:hover {
            background-color: $dark-color2;
        }
    }
    &.light-btn {
        background-color: $light-color;
        color: $dark-color1;
        &:hover {
            background-color: $light-color + 8.5%;
            box-shadow: $box-shadow;
        }
    }
    &.dark-btn {
        background-color: $dark-color1;
        color: $white-color;
        font-size: $button-md-font;
        &:hover {
            background-color: $dark-color2;
        }
    }
    &.trans-btn { //Transparent
        font-size: $button-md-font;
        background-color: transparent;
        color: $dark-color1;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid $dark-color1;
        }
    }
    &.danger-btn {
        background-color: $danger-color;
        color: $white-color;
        &:hover {
            background-color: $danger-color + 28.5%;
        }
    }
}
/*/---- Buttons ends ----/*/

/*/---- Header Nav begins ----/*/
.header {
    width: 100%;
    position: relative;
    font-weight: 500;
    nav {
        width: 100%;
        padding: 1rem 7.5%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // Logo 
        .logo {
            &-large {
                display: block;
                @media only screen and (max-width: 1015px) {
                    display: none;
                }
            }
            &-small {
                display: none;
                @media only screen and (max-width: 1015px) {
                    display: block;
                }
            }
        }
        // Toggle menu
        .open-menu {
            cursor: pointer;
            margin-top: -6px;
            display: none;
            @media only screen and (max-width: 745px) {
                display: block;
            }
            .menu-bar {
                width: 1rem;
                height: 2px;
                background-color: $dark-color3;
                display: inline-block;
                position: relative;
                transition: background-color .5s;
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: inherit;
                    background-color: inherit;
                    transition: all .5s;
                }
                &::before {
                    width: 2rem;
                    top: -.6rem;
                }
                &::after {
                    width: 2rem;
                    top: .6rem;
                }
            }
        }
        .nav-list {
            // Mobile Nav view
            @media only screen and (max-width: 745px) {
                position: fixed;
                top: -1000%;
                right: 0;
                width: 100%;
                height: 100%;
                padding: 5rem;
                background-color: $dark-color1;
                transition: .5s;
                z-index: 100;
                text-align: center;
                overflow-y: scroll;
                /* Hide scrollbar for IE, Edge and Firefox */
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
                /* Hide scrollbar for Chrome, Safari and Opera */
                &::-webkit-scrollbar {
                    display: none;
        }    
            } 
            .nav-link {
                font-size: $button-md-font;
                display: inline-block;
                margin: 0 20px;
                @media only screen and (max-width: 1015px) {
                    font-size: $button-md-font - 2;
                }
                a {
                    position: relative;
                    padding: 5px 0;
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0;
                        height: 2px;
                        transition: all 0.4s;
                        @media only screen and (max-width: 745px) {
                            display: none;
                        }
                    }   
                }
                // Mobile Nav view
                @media only screen and (max-width: 745px) {
                    display: block;
                    margin: 0 0 30px 0;
                    font-size: $h4-font;
                    a {
                        color: $white-color !important;
                    }
                    &.active a {
                        color: $primary-color !important;
                    }
                }

                // SERVICES
                &.service {
                    // Chevron up
                    a .chevron-up {
                        display: none;
                        @media only screen and (max-width: 745px) {
                            display: inline-block;
                            transform: rotate(-180deg);
                        }
                        &.rotate {
                            transform: rotate(0deg);
                        }
                    }
                    // Dropdown content
                    div {
                        display: none;
                        // From width 0 - 745px
                        li {
                            margin: 1rem 0;
                            padding: 0.5rem 0;
                            border-bottom: 1px solid $light-color;
                            a {
                                text-transform: none;
                                p {
                                    display: none;
                                } 
                            }
                        }
                        // Big screen starts //
                        @media only screen and (min-width: 745px) {
                            position: absolute;
                            top: 80px;
                            left: 0;
                            width: 100%;
                            background: rgba(255, 255, 255, 0.9);
                            backdrop-filter: blur(10px);
                            z-index: 100;
                            ul {
                                width: 85%;
                                margin: 3rem auto;
                                display: flex;
                                flex-flow: row wrap;
                                justify-content: space-around;
                                align-content: center;
                                align-items: center;
                                li {
                                    width: 200px;
                                    text-transform: none;
                                    list-style-image: url('../img/list-style.png');
                                    a {
                                        &::after {
                                            display: none;
                                        }
                                        h6 {
                                            color: $dark-color1;
                                        }
                                        p {
                                            color: $dark-color2;
                                            font-size: $button-md-font - 2;
                                            line-height: 20px;
                                            margin: 20px 0;
                                            display: block;
                                        }
                                        .btn {
                                            color: $dark-color1;
                                        }
                                    }
                                }
                            }  
                        }
                        // Big screen ends //
                        &.drop {
                            display: block;
                        }
                        
                        
                    }
                }
            }
            // Login and signup links
            .nav-phone-link {
                display: none;
                // Mobile Nav view
                @media only screen and (max-width: 745px) {
                    display: block;
                    margin-top: 60px;
                    text-transform: none;
                    font-size: $h4-font;
                    a {
                        display: inline-block;
                        color: $primary-color;
                        background-color: $white-color;
                        border-radius: 10px;
                        padding: 10px 15px;
                        &:first-child {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
            // Close menu icon
            .close-menu {
                display: none;
                width: 40px;
                height: 40px;
                @media only screen and (max-width: 745px) {
                    display: block;
                    position: absolute;
                    top: 1rem;
                    right: 7.5%;
                }
            }
        }
        // Login and signup buttons
        .nav-btn {
            font-size: $button-md-font;
            // Hide the login and sign up button on small view
            @media only screen and (max-width: 1015px) {
                font-size: $button-md-font - 2;
            }
            @media only screen and (max-width: 745px) {
                display: none;
            }
            .btn {
                @media only screen and (max-width: 1015px) {
                    padding: 0.525rem 1.05rem !important;
                }
            }
            .btn:first-child {
                margin-right: 10px;
            }
        }
    }
    .hero {
        width: 98%;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        &-content {
            width: 100%;
            text-align: center;
        }
    }
}
/*/---- Header Nav ends ----/*/

/*/---- Footer begins ----/*/
.footer {
    &-content {
        background-color: $dark-color1;
        color: $light-color;
        padding: 3rem 7.5%;
        display: grid;
        grid-gap: 20px;
        a {
            color: $light-color;
        }
        .footer-top,
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            .footer-links,
            .footer-social {
                li {
                    display: inline-block;
                    margin: 0 10px;
                }
            }
        }
        .footer-bottom {
            @media only screen and (max-width: 585px) {
                display: grid;
                grid-gap: 20px;
                justify-content: center;
                text-align: center;
            }
        }
        // Horizontal line
        hr {
            border: 1px solid rgba(255, 255, 255, 0.2); // white color + 0.2 opacity
        }
        // Copyright
        p {
            text-align: center;
        }
        // Back to top 
        .back-to-top {
            text-align: center;
            font-size: 10px;
            color: $accent-color;
            position: relative;
            img {
                width: 30px;
                height: 30px;
                transition: all 0.2s ease-in;
            }
            .circle {
                position: absolute;
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                background-color: $accent-color2;
                border-radius: 50%;
            }
            &:hover img {
                transform: translateY(-10px); // Push the icon to stay in the circle
            }
        }
    }
}
/*/---- Footer ends ----/*/
