/*/---- Header begins ----/*/
.header {
    height: 90vh;
    nav {
        .nav-list {
            .nav-link {
                &.active a {
                    color: $dark-color1;
                }
                a {
                    color: $white-color;
                    &::after {
                        background: $dark-color1;;
                    }
                }
            }
        }
    }
    .hero {
        &-content {
            h2 {
                color: $light-color;
                font-size: 300;
                margin-bottom: 60px;
            }
        }
    }
}
/*/---- Header ends ----/*/

/*/---- More begins ----/*/
.more {
    position: relative;
    visibility: visible;
    width: 80%;
    margin: -3rem auto 0 auto;
    padding: 1.8rem;
    background-color: $white-color;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    display: grid;
    grid-gap: 20px;
    @media only screen and (min-width: 745px) {
        width: 50%;
    }
    h5 {
        font-weight: 500;
        color: $dark-color1;
        cursor: pointer;
        transition: all 0.5s ease-in;
        // &:hover + p {
        //     display: block;
        // }
        img {
            float: right;
            vertical-align: middle;
            transform: rotate(-180deg);
            &.show {
                transform: rotate(0deg);
            }
        }
    }
    p {
        display: none;
        color: $dark-color2;
        transition: all 0.5s ease-in;
        &.show {
            display: block;
        }
    }
}
/*/---- More ends ----/*/

/*/---- Download app begins ----/*/
.download {
    // width: 100%;
    // height: 542px;
    padding: 5rem 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
        h2 {
            margin-bottom: 30px;
        }
        .download-buttons a {
            display: inline-block;
            &:first-child {
                margin-right: 10px;
            }
            img {
                width: 120px;
                height: 40px;
            }
        }
    }
    &-phone {
        height: 100%;
        // position: relative;
        @media only screen and (max-width: 1015px) {
            display: none;
        }
        img {
            // width: 400px;
            height: 100%;
            // right: 0;
            // position: absolute;
            // bottom: 0;
            // &:first-child {
            //     // bottom: 2rem;
            // }
            // &:last-child {
            //     // bottom: 0;
            // }
        }
    }
}
/*/---- Download ends ----/*/

/*/---- How it work begins ----/*/
.how-it-work {
    margin: 6rem 0;
    .sect-heading {
        margin: 0 7.5%;
    }
    &-content {
        margin: 6rem 0 6rem 7.5%;
        display: grid;
        grid-gap: 6rem;
        .how-it-work-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 450px;
            // @media only screen and (min-width: 885px) {
            //     display: flex;
            // }
            &:nth-child(2) {
                // @media only screen and (min-width: 885px) {
                //     flex-direction: row-reverse;
                // }
                flex-direction: row-reverse;
                background-color: $light-color;
                // height: 100%;
                .text {
                    margin-right: 7.5%;
                }
                .img {
                    margin-left: -7.5%;
                    height: 80%;
                    img {
                        margin-left: -7.5%;
                        // height: 400px;
                    }
                }
            }
            .text {
                flex-basis: 40%;
                h3 {
                    margin-bottom: 20px;
                }
            }
            .img {
                flex-basis: 40%;
                height: 100%;
                // @media only screen and (max-width: 885px) {
                //     margin-top: 6rem;
                // }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
/*/---- How it work ends ----/*/
