/*/---- Import ----/*/
@import 'variables';
@import 'general';



/*/---- Header begins ----/*/
.header {
    // max-height: 100vh;
    min-height: 100vh;
    @media only screen and (max-height: 450px) {
        height: 600px;
    }
    background-image: url(../img/header-bg.png);
    background-position: center;
    background-size: cover;
    nav {
        background: rgba(255, 255, 255, 0.5);
        height: 80px;
        .nav-list {
            .nav-link {
                &.active a {
                    color: $primary-color;
                }
                a {
                    color: $dark-color3;
                    &::after {
                        background: $primary-color;
                    }
                }
            }
            .service {
                // Chevron up
                a .chevron-up {
                    display: none;
                    @media only screen and (max-width: 745px) {
                        display: inline-block;
                        transform: rotate(-180deg);
                    }
                    &.rotate {
                        transform: rotate(0deg);
                    }
                }
                // Dropdown content
                div {
                    display: none;
                    // From width 0 - 745px
                    li {
                        margin: 1rem 0;
                        padding: 0.5rem 0;
                        border-bottom: 1px solid $light-color;
                        a {
                            text-transform: none;
                            p {
                                display: none;
                            } 
                        }
                    }
                    // Big screen starts //
                    @media only screen and (min-width: 745px) {
                        position: absolute;
                        top: 80px;
                        left: 0;
                        width: 100%;
                        background: rgba(255, 255, 255, 0.9);
                        backdrop-filter: blur(10px);
                        z-index: 100;
                        ul {
                            width: 85%;
                            margin: 3rem auto;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: space-around;
                            align-content: center;
                            align-items: center;
                            li {
                                width: 200px;
                                text-transform: none;
                                list-style-image: url('../img/list-style.png');
                                a {
                                    &::after {
                                        display: none;
                                    }
                                    h6 {
                                        color: $dark-color1;
                                    }
                                    p {
                                        color: $dark-color2;
                                        font-size: $button-md-font - 2;
                                        line-height: 20px;
                                        margin: 20px 0;
                                        display: block;
                                    }
                                    .btn {
                                        color: $dark-color1;
                                    }
                                }
                            }
                        }  
                    }
                    // Big screen ends //
                    &.drop {
                        display: block;
                    }
                    
                    
                }
            }
        }
    }
    .hero {
        &-content {
            h1 {
                font-weight: 300;
            }
            p {
                margin: 30px 0;
            }
        }
    }
}
/*/---- Header ends ----/*/

/*/---- Why Us begins ----/*/
.why-us {
    &-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        text-align: center;
        .grid-item {
            width: 300px;
            margin-bottom: 30px;
            flex-basis: auto;
            padding: 10px;
            img {
                background-color: $accent-color2; //accent color + 0.2%(a)
                border-radius: 50%;
                padding: 10px;
            }
            h5 {
                margin: 20px 0;
            }
        }
    }
}
/*/---- Why Us ends ----/*/

/*/---- Download app begins ----/*/
.download {
    position: relative;
    width: 100%;
    height: 542px; // still use this
    // height: 100vh;
    &-bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    &-content {
        position: absolute;
        top: 50%;
        left: 7.5%; // (100% - 85%) / 2
        transform: translateY(-50%);
        h2 {
            margin-bottom: 30px;
        }
        .download-buttons a {
            display: inline-block;
            &:first-child {
                margin-right: 10px;
            }
            img {
                width: 120px;
                height: 40px;
            }
        }
    }
    &-phone {
        position: absolute;
        bottom: 0;
        right: 7.5%;
        @media only screen and (max-width: 1015px) {
            display: none;
        }
        img {
            width: 420px;
            height: 577px;
        }
    }
}
/*/---- Download ends ----/*/

/*/---- Testimonial begins ----/*/
.testi {
    &-content {
        position: relative;
        display: grid;
        align-items: center;
        text-align: center;
        .arrow-left,
        .arrow-right {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
            @media only screen and (max-width: 745px) {
                display: none;
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
        .arrow-left {
            left: 0;
        }
        .arrow-right {
            right: 0;
        }
        .testi-list {
            overflow: hidden;
            // .slider {
            // display: inline-flex;
            // transition: 0.5s;
            // }
            .testi-item {
                background: $white-color;
                padding: 20px;
                box-shadow: $box-shadow;
                border-radius: $border-radius;
                position: relative;
                margin: 0 auto;
                width: 90%;
                @media only screen and (min-width: 745px) {
                    width: 50%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 10%;
                    left: 0;
                    width: 100%;
                    height: 80%;
                    margin: 0 auto;
                    background: $light-color;
                    opacity: 0.6;
                    border-radius: inherit;
                    transform: scale(1.05);
                    z-index: -1;
                }
                &-img {
                    width: 40px;
                    height: 40px;
                }
                h5 {
                    margin: 10px 0;
                }
                .rating {
                    margin-top: 20px;
                    img {
                        margin: 2px;
                    }
                }
            }
            .controller {
                margin-top: 50px;
                .dot {
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                    background-color: $dark-color3;
                    border-radius: 50%;
                    margin: 10px;
                    cursor: pointer;
                }
                .active {
                    background-color: $accent-color !important;
                }
            }
        }  
    }
}
/*/---- Testimonial ends ----/*/

/*/---- Contact begins ----/*/
.contact {
    // background-color: $primary-color;
    background: $gradient-color;
    color: $white-color;
    text-align: center;
    padding: 5rem 7.5%;
    &-content {
        h3 {
            margin-bottom: 30px;
        }
    }
}
/*/---- Contact ends ----/*/

/*/---- Subscribe begins ----/*/
.subscribe {
    &-content {
        h3 {
            margin-bottom: 10px;
        }
        form {
            margin-top: 50px;
            width: 100%;
            display: flex;
            border-bottom: 1px solid $dark-color3;
            input {
                width: 100%;
                padding: 20px;
                font-size: $h5-font;
                color: $dark-color1;
                border: none;
                outline: none;
                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                }
            }
            button {
                font-size: $h5-font;
                border: none;
                outline: none;
                background-color: transparent;
                color: $dark-color1;
                @media only screen and (max-width: 745px) {
                    font-size: 18px;
                }
                cursor: pointer;
                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
}
/*/---- Subscribe ends ----/*/

/*/---- Footer begins ----/*/
// Style is in _general.scss
/*/---- Footer ends ----/*/





