/*/---- Import ----/*/
@import '../../scss/variables';
@import '../../scss/general';
@import '../../scss/others-header';

/*/---- Header begins ----/*/
.header {
    background: $gradient-color;
}
/*/---- Header ends ----/*/