/*/---- Import ----/*/
@import '../../scss/control-panel';


/*/---- Main starts ----/*/
main {
    .main-sect {
        &-body {
            display: grid;
            grid-gap: 1rem;
            @media only screen and (min-width: 745px) {
                grid-template: repeat(3, 1fr) / repeat(5, 1fr);
            }
            font-weight: 400;
            .dark-color1 {
                color: $dark-color1;
            }
            .dark-color2 {
                color: $dark-color2;
            }
            h6 {
                font-weight: 500;
            }
            .order-id {
                @include white-background;
                @media only screen and (min-width: 745px) {
                    grid-column: 1 / span 2;
                }
                div {
                    &:nth-child(1),
                    &:nth-child(2) {
                        display: flex;
                        align-items: center;
                    }
                    &:nth-child(1) {
                        p {
                            margin-right: 1rem;
                        }
                    }
                    &:nth-child(2) {
                        justify-content: space-between;
                        margin: 2rem 0 1.5rem 0;
                        font-size: $button-md-font;
                        a {
                            color: $accent-color;
                        }
                    }
                    &:nth-child(3) {
                        font-size: $button-md-font;
                        p {
                            &:nth-child(1) {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }

            .order-details {
                @include white-background;
                @media only screen and (min-width: 745px) {
                    grid-row: 2 / span 3;
                    grid-column: 1 / span 2;
                }
                div {
                    &:nth-child(2) {
                        margin: 1.5rem 0 2rem 0;
                        p:nth-child(2) {
                            font-size: $button-md-font;
                            margin-top: 0.5rem;
                        }
                    }
                    &:nth-child(3) {
                        font-size: $button-md-font;
                        ul {
                            margin-top: 1rem;
                            li {
                                display: flex;
                                align-items: center;
                                margin-bottom: 0.5rem;
                                p:first-child {
                                    flex-basis: 40%;
                                }
                                p:last-child {
                                    flex-basis: 60%;
                                }
                            }
                        }
                    }
                }
            }
            .order-item-deliver {
                @include white-background;
                @media only screen and (min-width: 745px) {
                    grid-row: 1 / span 3;
                    grid-column: 3 / span 5;
                }
                .items-list {
                    margin-top: 2rem;
                    ul {
                        display: grid;
                        grid-gap: 2rem;
                        .each-item {
                            display: flex;
                            .item-image {
                                width: 80px;
                                height: 80px;
                            }
                            div {
                                margin-left: 2rem;
                                p {
                                    margin-bottom: 0.5rem;
                                }
                                span {
                                    margin-left: 2rem;
                                }
                            }
                        }
                    }
                }
                .items-cost {
                    margin-top: 3rem;
                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            p {
                                &:first-child {
                                    flex-basis: 30%;
                                    color: $dark-color2;
                                }
                                &:last-child {
                                    flex-basis: 70%;
                                    color: $accent-color;
                                }
                            }
                        }
                    }
                }
                .items-btns {
                    margin-top: 4rem;
                    a {
                        &:first-child {
                            margin-right: 1rem;
                        }
                    }
                }
            }
        }
    }
}
/*/---- Main ends ----/*/
