/*/---- Import ----/*/
@import '../../../scss/variables';
@import '../../../scss/general';
@import '../../../scss/others-header';

/*/---- Header begins ----/*/
.header {
    background: $gradient-color;
}
/*/---- Header ends ----/*/

/*/---- what you need begins ----/*/
.what-you-need {
    margin: 6rem 0;
    .sect-heading {
        margin: 0 7.5%;
    }
    &-content {
        margin: 6rem 0 6rem 7.5%;
        display: grid;
        grid-gap: 6rem;
        .what-you-need-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 450px;
            // @media only screen and (min-width: 885px) {
            //     display: flex;
            // }
            &:nth-child(2) {
                // @media only screen and (min-width: 885px) {
                //     flex-direction: row-reverse;
                // }
                flex-direction: row-reverse;
                background-color: $light-color;
                // height: 100%;
                .text {
                    margin-right: 7.5%;
                }
                .img {
                    margin-left: -7.5%;
                    height: 80%;
                    img {
                        margin-left: -7.5%;
                        // height: 400px;
                    }
                }
            }
            .text {
                flex-basis: 40%;
                h3 {
                    margin-bottom: 20px;
                }
            }
            .img {
                flex-basis: 40%;
                height: 100%;
                // @media only screen and (max-width: 885px) {
                //     margin-top: 6rem;
                // }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
/*/---- what you need ends ----/*/


/*/---- Download app begins ----/*/
.download {
    // width: 100%;
    height: 542px;
    padding: 5rem 7.5%;
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
        // position: absolute;
        // top: 50%;
        // left: 7.5%; // (100% - 85%) / 2
        // transform: translateY(-50%);
        h2 {
            margin-bottom: 30px;
        }
        .download-buttons a {
            display: inline-block;
            &:first-child {
                margin-right: 10px;
            }
            img {
                width: 120px;
                height: 40px;
            }
        }
    }
    &-phone {
        // position: absolute;
        // bottom: 0;
        // right: 7.5%;
        height: 100%;
        @media only screen and (max-width: 1015px) {
            display: none;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/*/---- Download ends ----/*/

/*/---- Footer begins ----/*/
// Style is in _general.scss
/*/---- Footer ends ----/*/