/*/---- Import ----/*/
@import '../../scss/control-panel';


/*/---- Sidenav starts ----/*/
// Style is in _control-panel.scss
/*/---- Sidenav ends ----/*/

/*/---- Main start ----/*/
main {
    .order-grid {
        display: grid;
        grid-gap: 3rem;
        @media only screen and (min-width: 745px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;
        }
        .order-services {
            display: grid;
            grid-gap: 1rem;
            @media only screen and (min-width: 745px) {
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1 / span 2;
            }
            &-heading {
                color: $dark-color1;
                @media only screen and (min-width: 745px) {
                    grid-column: 1 / span 2;
                }
            }
            &-card {
                @include dark-background;
                display: grid;
                grid-gap: 1rem;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    &.order-services-card-body {
                        p {
                            font-size: $button-md-font;
                        }
                    }
                }
                .see-all {
                    font-size: $button-md-font - 2;
                }
            }
        }
        .order-new {
            height: 100%;
            &-heading {
                color: $dark-color1;
                margin-bottom: 1rem;
            }
            &-body {
                @include white-background;
                &-heading {
                    color: $dark-color1;
                    margin-bottom: 1rem;
                }
                li {
                    display: flex;
                    align-items: center;
                    padding: 0.5rem;
                    border-radius: $border-radius;
                    margin-bottom: 1rem;
                    @include table-item;
                    p {
                        flex-basis: 33.333%;
                    }
                }
                .view-more {
                    color: $primary-color;
                    display: inline-block;
                    font-size: $button-md-font;
                    font-weight: 500;
                    margin-top: 1rem;
                }
            }
        }
    }
    .order-statistic {
        @include white-background;
        &-heading {
            color: $dark-color1;
            margin-bottom: 2rem;
        }
        .chart {
            width: 100%;
            #orderStatisticChart {
                width: 100%;
            }
        }
    }

}
/*/---- Main ends ----/*/

