/*/---- Import ----/*/
@import '../../scss/variables';
@import '../../scss/general';
@import '../../scss/others-header';

/*/---- Header begins ----/*/
.header {
    background: $gradient-color;
}
/*/---- Header ends ----/*/

/*/---- Faqs begins ----/*/
.faqs {
    &-list {
        display: grid;
        grid-gap: 30px;
        .faqs-item {
            border-bottom: 1px solid $dark-color3;
            padding-bottom: 10px;
            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
                cursor: pointer;
                h6 {
                    display: flex;
                    align-items: center;
                    color: $dark-color1;
                    .dot {
                        margin-right: 20px;
                        // &-single {
                        //     display: none;
                        //     @media only screen and (max-width: 745px) {
                        //         display: inline-block; 
                        //     } 
                        // }
                        // &-double {
                        //         display: inline-block; 
                        //         @media only screen and (max-width: 745px) {
                        //         display: none;
                        //     }
                        // }
                    }
                }
            }
            p {
                margin-left: 50px;
                color: $dark-color2;
                display: none;
                &.show {
                    display: block;
                }
            }
        }
    }
}
/*/---- Faqs ends ----/*/

/*/---- Contact options begins ----/*/
.contact {
    padding: 5rem 7.5%;
    background-color: $light-color;
    &-heading {
        text-align: center;
        margin-bottom: 6rem;
        h3 {
            margin-bottom: 20px;
        }
    }
    &-options {
        display: grid;
        place-items: center;
        text-align: center;
        grid-gap: 3rem;   
        @media only screen and (min-width: 745px) {
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        } 
        .contact-item {
            width: 100%;
            padding: 2rem;
            background-color: $white-color;
            border-radius: $border-radius;
            box-shadow: $box-shadow;
            @media only screen and (min-width: 745px) {
                width: 70%;
            } 
            h6 {
                margin: 1rem 0;
                color: $dark-color1;
            }
            p {
                color: $dark-color3;
                font-size: $button-md-font;
            }
        }
    }
}
/*/---- Contact options ends ----/*/
