/*/---- Import ----/*/
@import '../../scss/variables';
@import '../../scss/general';
@import '../../scss/others-header';

/*/---- Header begins ----/*/
.header {
    background: $accent-color;
}
/*/---- Header ends ----/*/


/*/---- Footer begins ----/*/
// Style is in _general.scss
/*/---- Footer ends ----/*/